<!DOCTYPE html>
<html lang="en">
    <head>
        <title>HELPING HAND</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js"></script>
    </head>
    <body>
        <div class="ui inverted menu">
            <div class="header item">
                Helping Hand
            </div>
            <a class="item" href="/">
                Home
            </a>
            <a class="active item" href="/sign_in">
                Sign in
            </a>
            <a class="item" href="/sign_up">
                Sign up
            </a>
            <a class="item" href="/">
                Log out
            </a>
        </div>
        <form action="/account/signin" method="POST" class="ui form" >
            <div class="field">
                <input type="text" name="user[username]" placeholder="Username" required>
            </div>
    
            <div class="field">
                <input type="text" name="user[password]" placeholder="Password" required>
            </div>
            
            <button class="ui basic dark button">Submit</button>
        
        </form>
    </body>
</html>